/* Small screens (default) */
html { font-size: 100%; }


/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 120%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 150%; }
}

/* Set border-box model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    padding: 5px;
    float: left;
}

@media only screen and (min-width: 600px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    i {
      font-size: 30px;
    }

    [class*="col-"] {
      padding: 15px;
    }
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
